
#multisite-stage  ul.action-links {
	float:right;
}
#multisite-stage  .collapsed ul.action-links {
	margin:-1em 0 1em 0;
}
#multisite-stage ul.action-links {
	margin:-2em 1em 1em 0;

}

#multisite-stage ul.action-links li {
  background: #2f88cd;
  background: -moz-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36a2f6), color-stop(100%, #2f88cd));
  background: -webkit-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -o-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -ms-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: linear-gradient(to bottom, #36a2f6 0%, #2f88cd 100%);
  border: 1px solid #2f88cd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  -webkit-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  font: normal 500 12px/12px "Open Sans", Arial, sans-serif;
  margin-left: 2px;
  margin-top: 1px;
  padding: 0 0 0 0;
  margin:0 0 0 0;
  float: left;
  text-decoration: none;
  color: #fff;
}

#multisite-stage ul.action-links li a {
	background: transparent url("add_white.png") no-repeat 8px 10px;
	color: #ffffff;
	font-weight: 500;
	font-size:8px;
	padding: 1px 5px 1px 25px;
	text-decoration: none;
	margin:0 0 0 0;
}

#multisite-stage ul.action-links li a:hover {
	text-decoration: underline;
}


.height-wrap {
	width:140px;
	float:left;
}

.scheme-wrap {
float:left;
}

.form-item-onsite-url input {width:100%;}
